body {
  margin: 0;
}

/* header */

header {
  padding: 20px;
  box-shadow: 0px 2px 24px rgb(0 0 0 / 6%);
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.site-navigation li {
  margin-right: 8px;
}

.external-navigation li {
  margin-left: 8px;
}

main {
  padding-left: 50px;
  padding-right: 50px;
}

/* lists */

.list {
  padding-left: 0;
  list-style-type: none;
}

.blog-list li {
  border-top: 1px solid;
  padding: 12px 16px 0;
}

.blog-list li:last-child {
  border-bottom: 1px solid;
}

.blog-list a {
  margin-right: 12px;
}

.link-list a {
  padding: 16px;
  display: inline-block;
}

/* footer */

footer {
  padding: 20px;
}

@media (min-width: 600px) {
  main {
    padding-left: 120px;
    padding-right: 120px;
  }
}
